@font-face {
    font-family: "WinterFont";
    src: url(../font/Winter\ Storm.ttf) 
}
@font-face {
  font-family: "DuckFont";
  src: url(../font/Duckname.ttf) 
}
@keyframes fontani{
    0%   {left:-10000px; top:0px;}
    100% {left:0px; top:0px;}
}
.customfont{
    font-family: "WinterFont";
    margin-left: 28%;
    margin-top: 8%;
    float: left;
    font-size: 72px;
    position: relative;
    color: #FBF9F1;
    animation-name: fontani;
    animation-duration: 1s;
}
.customfont2{
  font-family: "DuckFont";
  color: #3c7f89;
}
.imageIndex {
  width: 350px;
  float: right;
  margin-left: 13%;
  margin-top: 6%;
  border: 3px solid #FBF9F1;
  border-radius: 50px;
  padding: 0px;
  position: absolute;
  z-index: 99;
  
}
body{

    background-color: #92C7CF;
}
nav{
    height: 50px;
    border-radius: 30px;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 999;
    display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

nav ul li{
  display: inline-block;
  list-style: none;
  left: 1300px;
  position: relative;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "WinterFont";
  float: right;
  margin-left: 40px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #3c7f89;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.headerfont{
  font-family: "DuckFont";
  margin-left: 10%;
  color: #3c7f89;
  font-size: 32px;
  padding-top: 10px;
  position: fixed;
}
.homebutt{
    width: 45px;
    margin-left: 10px;
}
.headerfont:hover{
cursor: pointer;
}
.experienceh1{
  margin: 0 auto;
  display: flex;
  text-align: center;   
  align-items: center; 
  justify-content: center; 
    width: 50%; 
    margin-top: 550px;
    position: relative;
    font-family: "WinterFont";
    font-size: 48px;
    color: #FBF9F1;
  }
  .comptencesh1{
    margin: 0 auto;
    display: flex;
    text-align: center;   
    align-items: center; 
    justify-content: center; 
    margin-top: 150px;
    position: relative;
    font-family: "WinterFont";
    font-size: 48px;
    color: #FBF9F1;
  }
  .contacth1{
    margin: 0 auto;
    display: flex;
    text-align: center;   
    align-items: center; 
    justify-content: center;  
    margin-top: 150px;
    position: relative;
    font-family: "WinterFont";
    font-size: 48px;
    color: #FBF9F1;
  }
  .formstyle{
    font-family: "WinterFont";
    position: relative;
    left: 750px;
    font-size: 24px;
    color: black;
  }
  * {
    box-sizing: border-box;
  }
  
  .timeline {
    position: relative;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: 50px;
    margin: 100px auto 0;
    z-index: 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FBF9F1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
  }
  
  .container {
    font-family: "WinterFont";
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #FBF9F1;
    border: 4px solid #3c7f89;
    top: 95px;
    border-radius: 50%;
    z-index: 999;
  }

  .left {
    left: 0;
  }
  

  .right {
    left: 50%;
  }
  

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 100px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FBF9F1;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
 
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 100px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FBF9F1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FBF9F1 transparent transparent;
  }

  .right::after {
    left: -16px;
  }
  

  .content {
    padding: 40px 30px;
    background-color: #FBF9F1;
    position: relative;
    border-radius: 6px;
    border-radius: 100px;
  }

  @media screen and (max-width: 600px) {
    

    .timeline::after {
      left: 31px;
    }
  

    .container {
      width: 100%;
      
      padding-left: 70px;
      padding-right: 25px;
    }
  

    .container::before {
      left: 60px;
      border: medium solid #FBF9F1;
      border-width: 10px 10px 10px 0;
      border-color: transparent #FBF9F1 transparent transparent;
    }
  

    .left::after, .right::after {
      left: 15px;
    }
  

    .right {
      left: 0%;
    }
  }
  .container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
.logos{
  overflow: hidden;
  padding: 370px 10px 0px 10px;
  white-space: nowrap;
}
.logoanim {
  display: inline-block;
  animation: 5s infinite slide linear;
}
.logoanim img {
  opacity: 25%;
  filter: grayscale(100%);
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
.contactlogo img{
  height: 150px;
  margin-left: 500px;
  
}

.buttongmailclick:hover, .buttonlinkedinclick:hover{
  cursor: pointer;
  animation: cartetrans 3s linear infinite; 
  }
  @keyframes cartetrans {
    from{
      scale: 1;
      translate: 0;
      opacity: 1;
    } to {
      scale: 0.8;
      translate: 30%;
      opacity: 0;
    }
  }
  @keyframes cartetransleft {
    from{
      scale: 1;
      translate: 0;
      opacity: 1;
    } to {
      scale: 0.8;
      translate: -30%;
      opacity: 0;
    }
  }
  .buttongmailclick{
    height: 150px;
    margin-left: 500px;
    position: relative;
    
  }
  .buttongmailclick1{
    height: 150px;
    animation: cartetrans 3s linear infinite; 
    float: left;
    top: 1; left: 0;
  }
  .buttongmailclick2{
    height: 150px;
    animation: cartetransleft 3s linear infinite; 
    float: left;
    top: 1; left: 0;
  }
  .buttonlinkedinclick{
    height: 150px;
    animation: cartetrans 3s linear infinite; 
    top: 1;
    left:0;
    float: right;
    margin-right: 330%;
    
  }
 
  .buttonlinkedinclick1{
    height: 150px;
    animation: cartetrans 3s linear infinite;
    float: right;
    margin-right: 20%;
    top: 1; left: 0;
    
  }
  
  .buttonlinkedinclick2{
    height: 150px;
    animation: cartetransleft 3s linear infinite;
    float: right;
    margin-right: 20%;
    top: 1; left: 0;
    
  }
  .image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: inline-block;
    vertical-align: top;
    margin-left: 25%;
  }
  .image-containerw{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: inline-block;
    vertical-align: top;
    margin-right: 25%;
  }
  @media screen and (max-width: 600px) {
    body, html{
      overflow-x: hidden;
  }
 .buttongmailclick1{
  margin: 0 auto;
  display: flex;
  text-align: center;   
  align-items: center; 
  justify-content: center; 
  animation: none;
 }
 .buttongmailclick{
 }
 .buttongmailclick2{
  margin: 0 auto;
  display: flex;
  text-align: center;   
  align-items: center; 
  justify-content: center; animation: none;
  }
 .imageIndex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
 }


  }

  