@font-face {
    font-family: "My Custom Font";
    src: url(font/Duckname.ttf) 
}
@keyframes fontani{
    0%   {left:-10000px; top:0px;}
    100% {left:0px; top:0px;}
}
.customfont{
    font-family: "My Custom Font";
    margin-left: 253px;
    margin-top: 140px;
    float: left;
    font-size: 64px;
    position: fixed;
    color: #FBF9F1;
    animation-name: fontani;
    animation-duration: 1s;
}
.imageIndex {
  width: 350px;
  float: right;
  margin-right: 220px;
  margin-top: 120px;
  border: 3px solid #FBF9F1;
  border-radius: 40px;
  padding: 5px;
  position: relative;
  
  
}
body{
    background-color: #92C7CF;
}
header{
    background-color: #FBF9F1;
    height: 50px;
    border-radius: 30px;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.homebutt{
    width: 45px;
    margin-left: 10px;
}
.homebutt:hover{
cursor: pointer;
}
.experienceh1{   
    left: 40%;
    margin-top: 550px;
    position: fixed;
    font-family: "My Custom Font";
    font-size: 48px;
    position: fixed;
    color: #FBF9F1;
  }
